
.loginForm {

}

.submitButton {
    margin: 5% 5% 5% 0%;
    padding: 1% 1% 1% 1%;
    background-color: #4F4A41;
}

.outdiv {
    display: grid;
    grid-template-columns: 1fr 40%;

    font-size: 1.1em;

    background-color: #041b1f;
    height: 92.5vh;
    overflow: hidden;
}

.div {
    grid-column-start: 2;
    grid-column-end: 3;

    background-color: #254E58;
    color: rgb(230, 230, 230);

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10% 10% 10% 10%;

    border: solid #4F4A41;

    overflow: hidden;
}

.h2 {
    padding-right: 5%;
}

#h2 {
    padding: 3% 5% 5% 3%;
}

.p {
    padding: 0% 5% 5% 3%;
}